<% @products.each do |product| %>
<div class="card">  
    <div class="text-center">
        <img class="img-fluid"   src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>
    <a class="btn btn-flat" href="#">Añadir al carrito</a>
    <div class="info">
        <h2 class="text-center"><%= product.title %> </h2>
        <p class="text-center">unidades del producto</p>
        <p class="text-center">$ <%= product.price %></p>
    </div>
</div>
<% end %>
