<div class="Content">
    <div class="row">
        <div class=col-6>
            <h1 class="title-about">Nosotros</h1>
            <ul>
                <li>
                    <p>Sanito Market es una Tienda Virtual donde todos sus productos comercializado están sometidos a un alto control de calidad y seguridad alimentaria.</p>
                </li>
                <li>
                    <p>Perfecta conservación en nuestros vehículos. Rapidez servicio y puntualidad. Esmero en la limpieza e higiene.</p>
                </li>
                <li>
                    <p>Nuestros asesores les recomendaran qué productos son mejores para consumir dependiendo la temporada. Nuestros preparadores de pedidos tratan los productos con exquisito y esmerado cuidado.</p>
                </li>
            </ul>
        </div>
        <div class="col d-flex justify-content-center">
            <%= image_tag "nosotros", class: "image-we-big" %>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-around image-about">
            <%= image_tag "singluten", class: "image_we"%>
            <%= image_tag "sellocalidad", class: "image_we"%>
            <%= image_tag "delivery", class: "image_we"%>
        </div>
    </div>
</div>
