.banner {
 background-size: cover;
 padding: 100px;
}

.banner h2{
    color: white;
    margin: 0px; 
    padding-bottom: 10px;
    font-size: 30px;
}

.banner p{
    color: FEFAE0;
    margin: opx;
    font-size: 20px;
    margin-bottom: 20px;
}