.size-logo{
    width: 100px;
}

.size-icon{
    width: 30px;
}

.border-black{
    border: 1px solid black;
}

.footer_bg_color{
    background-color: #FEF9EB;
}

.footer_padding{
    padding: 5px;
}

.footer_padding a{
    color: black;
    padding: 20px;
}